* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background: #CAB69D;
}

.picture-container {
    width: 100%;
    height: 20%;
}

.first-txt {
    margin-top: -100px;
    text-align: center;
}

ul {
    list-style: none;
}

label,
input {
    display: block;
    margin: 20px 10px 10px 10px;
    font-size: 22px;
}

input[type=text],
input[type=email],
input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    padding-top: 5px;
}

input:focus {
    outline: none;
}

input:hover {
    cursor: pointer;
}

.form-body h3 {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.myButton { 
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px 15px 0;
}

p {
    margin: 35px 0 0 25px;
}

@media screen and (max-width: 576px){

    .responsive {
        width: 100%;
        height: 25vh;
        -webkit-box-shadow: 0px 0px 15px -7px #000000; 
        box-shadow: 0px 0px 15px -7px #000000;
    }

    .first-txt {
        margin-top: -120px;
        text-align: center;
        font-size: 36px;
        line-height: 1.8;
    }

    .txt-background {
        position: relative;
        background: rgba(255, 255, 255, 0.7);
    }

    .form-heading {
        margin-top: 75px;
        text-align: center;
    }

    .form-body {
        border-radius: 5px;
        padding: 15px;
        margin: 20px;
        background: #ffffff;
        opacity: 0.8;
        -webkit-box-shadow: 0px 5px 15px -7px #000000; 
        box-shadow: 0px 5px 15px -7px #000000;
        overflow: hidden;
    }

    .form-body h3 {
        padding: 5px;
        text-align: center;
    }

    .input-container {
        margin: auto;
        overflow: hidden;
    }
}

@media screen and (min-width: 576px) and (max-width: 1026px) {
    .responsive {
        width: 100%;
        height: 25vh;
        -webkit-box-shadow: 0px 5px 15px -7px #000000; 
        box-shadow: 0px 5px 15px -7px #000000;
    }

    .first-txt {
        margin-top: -120px;
        text-align: center;
        font-size: 36px;
        line-height: 1.8;
    }

    .txt-background {
        position: relative;
        background: rgba(255, 255, 255, 0.7);
    }

    .form-heading {
        margin-top: 75px;
        text-align: center;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                        0px 8px 13px rgba(0,0,0,0.1),
    }

    .form-body {
        border-radius: 5px;
        padding: 15px;
        margin: 20px;
        background: #ffffff;
        opacity: 0.8;
        -webkit-box-shadow: 0px 5px 15px -7px #000000; 
        box-shadow: 0px 5px 15px -7px #000000;
        overflow: hidden;
    }

    .form-body h3 {
        padding: 5px;
        text-align: center;
    }

    .input-container {
        margin: auto;
        overflow: hidden;
        text-align: center;
        width: 400px;
        padding-left: 50px;
    }

    label,
    input {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }

}

@media screen and (min-width: 1026px) {
    .responsive {
        width: 100%;
        height: 25vh;
        -webkit-box-shadow: 0px 5px 15px -7px #000000; 
        box-shadow: 0px 5px 15px -7px #000000;
    }

    .first-txt {
        margin-top: -120px;
        text-align: center;
        font-size: 36px;
        line-height: 1.8;
    }

    .txt-background {
        position: relative;
        background: rgba(255, 255, 255, 0.7);
    }

    .form-heading {
        margin-top: 75px;
        text-align: center;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                        0px 8px 13px rgba(0,0,0,0.1),
    }

    .form-body {
        border-radius: 5px;
        padding: 15px;
        margin: 20px;
        background: #ffffff;
        opacity: 0.8;
        -webkit-box-shadow: 0px 5px 15px -7px #000000; 
        box-shadow: 0px 5px 15px -7px #000000;
        overflow: hidden;
    }

    .form-body h3 {
        padding: 5px;
        text-align: center;
    }

    .input-container {
        margin: auto;
        overflow: hidden;
        text-align: center;
        width: 800px;
        padding-left: 100px;
    }

    label {
        width:180px;
        clear:left;
        text-align:right;
        padding-right:10px;
    }
    
    input, label {
        float:left;
    }
}
