* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    font-size: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.form-container {
    display: grid;
    grid-template-rows: 1 fr 1 fr 1fr;
    grid-template-columns: 1fr 1fr;
}
